<div class="banner">
  <div class="container column">
    <h1 class="heading primary-text light-text">LEAFY</h1>
    <p class="primary-text">House Plant Online Shop Adaptive Website</p>
    <img class="mockup" src="../../../../assets/img/leafy_laptop_and_smartphone_mockup.png"
      alt="leafy_laptop_and_smartphone_mockup">
  </div>
</div>

<div class="main-content container column">
  <article #projectOverview>
    <div class="header">
      <h1>Project Overview</h1>
    </div>
    <div class="body">
      <div class="row pt90-lg pb40 gap130-lg">
        <div class="col-1">
          <p class="pb8">Designing a website for a local greenhouse was one of the student assignment we had in UX-Land
            school.
            In a team of four, we were assigned to design an <span class="bold">adaptive website</span> for both <span
              class="bold">mobile</span> and <span class="bold">desktop devices</span> focusing on <span
              class="bold">User Interface</span> aspect. </p>
          <br>
          <p class="pb8">We defined <span class="bold">Leafy</span> as an online store, in which using <span
              class="bold">Plant Finder</span> can suggest the right plant based on the users’ need.</p>
          <br>
          <p class="pb8">We have also created an opportunity for the user to try different pots after selecting a plant.
          </p>
        </div>
        <div class="col-1 mockup-section">
          <img class="screen img-resp-400" src="../../../../assets/img/leafy_mockup_screen.png" alt="">
          <div class="frame">
            <img src="../../../../assets/img/leafy_demo.gif" alt="">
          </div>
        </div>
      </div>
      <div class="column prototype-btn-container">
        <button class="prototype-btn">
          <mat-icon>laptop</mat-icon>
          <span>View Desktop Prototype</span>
        </button>
        <button class="prototype-btn">
          <mat-icon>phone_android</mat-icon>
          <span>View Mobile Prototype</span>
        </button>
      </div>
      <div class="container column pt90-lg pb40">
        <div class="row project-ov-container gap50 col-1">
          <div class="project-ov-item">
            <object data="../../../../assets/img/leafy_role.svg" type=""></object>
            <h4>Role</h4>
            <p>UX/UI Designer</p>
          </div>
          <div class="project-ov-item">
            <object data="../../../../assets/img/leafy_team.svg" type=""></object>
            <h4>Team</h4>
            <p>Group of 4</p>
          </div>
          <div class="project-ov-item">
            <object data="../../../../assets/img/leafy_duration.svg" width="55"></object>
            <h4>Duration</h4>
            <p>8 Weeks</p>
          </div>
          <div class="project-ov-item">
            <object data="../../../../assets/img/leafy_tools.svg" type=""></object>
            <h4>Tools</h4>
            <p>Figma, Photoshop, Zoom, Google Form</p>
          </div>
        </div>
        <div class="column pt90 pb40  gap50">
          <div class="project-ov-para">
            <h3>Business Need</h3>
            <p>Creating an e-commerce website with an appealing user experience to sell plants online </p>
          </div>

          <div class="project-ov-para">
            <h3>Target User</h3>
            <p>The website is designed to serve both <span class="bold">plant experts</span> and those who are <span
                class="bold">not experienced.</span></p>
          </div>

          <div class="project-ov-para">
            <h3>Our Approach </h3>
            <ul>
              <li>
                <p>Float surveys to understand why users avoid buying plants online</p>
              </li>
              <li>
                <p>Interviewed potential users to understand their concerns and needs</p>
              </li>
              <li>
                <p>Studied the process of shopping plants in person so that we can simulate similar situation.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </article>

  <article #DesignProcess>
    <div class="header">
      <h1>Design Process </h1>
    </div>
    <div class="body">
      <div class="pt90-lg pb40">
        <object class="fw" data="../../../../assets/img/leafy_double_diamond.svg"></object>
      </div>
    </div>
  </article>

  <article #discover>
    <div class="header">
      <h1>Discover</h1>
    </div>
    <div class="body">
      <div class="column pt90-lg pb40">
        <div class="container">
          <div class="project-ov-para">
            <h3>User Survey</h3>
            <p>We started studying similar existing businesses, and to manifest our perceptions and to answer our
              questions, we created a survey. To use everyone’s experience, we created below algorithm of questions for
              our survey. </p>
            <p><span class="bold">115 People</span> Took Part In The Survey.</p>
          </div>
        </div>
        <object class="fw pt16" data="../../../../assets/img/leafy_survey.svg"></object>
        <caption>Algorithm of Survey Questions</caption>
        <div class="container pt90-lg">
          <div class="project-ov-para">
            <h3>Survey Insight</h3>
            <div class="row gap30">
              <div class="obj-container">
                <object data="../../../../assets/img/leafy_survay_2.svg" type=""></object>
              </div>

              <div class="obj-container">
                <object data="../../../../assets/img/leafy_survay_1.svg" type=""></object>
              </div>
            </div>
          </div>
        </div>

        <div class="container column pt90-lg">
          <div class="project-ov-para">
            <h3>Solution Provided</h3>
            <p>Learning behavioral patterns of users when shopping plants in person and trying to simulate it online.
            </p>
          </div>

          <!-- <div class="project-ov-para  pt90-lg">
            <h3>User interview</h3>
            <p><span class="bold">12 interview</span></p>
            <div class="pt16">
              <object class="fw pt16" data="../../../../assets/img/leafy_interview.svg"></object>
              <caption>Cards Generated for all the Interviews</caption>
            </div>
          </div> -->

          <div class="project-ov-para  pt90-lg">
            <h3>User interview and Affinity diagram</h3>
            <p>Interviewing with 12 potential users, and the affinity diagram that was made accordingly, we realized the
              <span class="bold">repetitive need of having a consultation with an expert when buying a plant in
                person</span>.
            </p>
            <div class="pt16">
              <object class="fw pt16" data="../../../../assets/img/leafy_affinity_diagram.svg"></object>
              <caption>Affinity Diagram</caption>
            </div>
          </div>

          <div class="project-ov-para pt90-lg">
            <h3>Solution Provided</h3>
            <p class="pb40">The idea of <span class="bold">“Plant Finder”</span> was born when trying to create a
              similar experience
              with in-person shopping.
              Using this platform, based on the data collected from a user through a series of questions, the perfect
              match is proposed. </p>

            <div class="row pb40 pt40 gap30">
              <div class="col-1">
                <p>
                  We also noticed that our users are interested in buying a suitable pot while buying a plant.
                  Therefore, we designed a feature that allows them to choose their favorite pot along with the plant
                  during the purchase process.
                </p>
              </div>
              <div class="col-1">
                <div class="frame">
                  <img class="img-resp-400" src="../../../../assets/img/leafy_potgif.gif" alt="">
                </div>
              </div>
            </div>
          </div>

          <div class="project-ov-para">
            <h3>Competitive Analysis</h3>
            <p>
              During our analysis, we have come to the realization that there are numerous ways to categorize plants,
              depending on various factors such as the user's specific needs, geographical location, and business value.
              Consequently, we have developed an Information Architecture that serves to both plant experts and those
              with little or no experience, ensuring that everyone can benefit from it.
            </p>

            <div class="row pt40 gap30">
              <div class="col-1">
                <h4>Top Takeaways:</h4>
                <ul>
                  <li>
                    <p>Categories on the navigation bar</p>
                  </li>
                  <li>
                    <p>UX writings </p>
                  </li>
                </ul>
              </div>
              <div class="col-1">
                <object class="fw pt16" data="../../../../assets/img/leafy_wbsites_analysed.svg"></object>
                <caption>Wbsites Analyzed</caption>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>

  <article class="pb40" #define>
    <div class="header">
      <h1>Define</h1>
    </div>
    <div class="body">
      <div class="container">
        <div class="project-ov-para pt40">
          <h3>Persona</h3>
          <p><span class="bold">Lily Moss</span> | 27 Years Old | Accountant</p>
        </div>
      </div>

      <div class="row persona-ov gap30">
        <div class="persona-image-container">
          <img src="../../../../assets/img/leafy_persona.jpg" alt="">
        </div>
        <div class="row">
          <div class="persona-ov-item">
            <h3>Lily’s Needs:</h3>
            <ul>
              <li class="regular">Easy access to right information on how to maintain a plant</li>
              <li class="regular">Consultation on choosing the right plant </li>
              <li class="regular">Improve indoor air quality and ambiance</li>
              <li class="regular">Improve productivity and concentration</li>
            </ul>
            <h3>Lily’s Problems:</h3>
            <ul>
              <li class="regular">She doesn't have successful experience in maintaining plants</li>
              <li class="regular">She has a pet and she doesn't know which ones are pet friendly </li>
            </ul>
            <h3>Challenges:</h3>
            <ul>
              <li class="regular">Getting consultation for buying suitable plant.</li>
              <li class="regular">Getting honest information about plants’ health status.</li>
              <li class="regular">Safe delivery.</li>
            </ul>
            <h3>Expectations:</h3>
            <ul>
              <li class="regular">Easy access to information about plants </li>
              <li class="regular">Healthy plant</li>
              <li class="regular">Guaranteed Safe delivery of plant</li>
              <li class="regular">Honest images and related input</li>
              <li class="regular">To be able to get accessories and plant supplements </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="container pt90-lg pb40">
        <div class="project-ov-para">
          <h3>Challenges and Solutions</h3>
          <p>Upon thorough analysis of all our research data, we gained a comprehensive understanding of the challenges
            associated with our project and attempted to address them by incorporating a solution into our design.</p>
        </div>
      </div>

      <div class="column challenges-container">
        <div class="row-sm challenges">
          <div class="col-1">
            <h1 class="header">Challenges</h1>
          </div>
          <div class="col-2">
            <h1 class="header">Solution </h1>
          </div>
        </div>
        <!-- 1 -->
        <div class="row-sm challenges">
          <div class="col-1">
            <p>Showing <span class="bold">plants as a living beings</span> rather than objects in a market place</p>
          </div>
          <div class="col-2">
            <div class="row-sm">
              <div class="col-1">
                <ul>
                  <li class="regular">
                    <p>Provided all the information about each plant like an ID card where the scientific name, all
                      characteristics, size, maintenance and all other information is shown.</p>
                  </li>
                </ul>
              </div>
              <div class="col-1">
                <div class="row-sm challenges-figure">
                  <div>
                    <object class="r45" data="../../../../assets/img/polygon.svg"></object>
                  </div>
                  <div>
                    <object data="../../../../assets/img/leafy_challenges_1.svg"></object>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 2 -->
        <div class="row-sm challenges">
          <div class="col-1">
            <p>Showing true images communicating the <span class="bold"> size/scale </span></p>
          </div>
          <div class="col-2 column">
            <div class="row-sm">
              <div class="col-1">
                <ul>
                  <li class="regular">
                    <p>Provided images of a person holding the plant could indicate the sense of scale.</p>
                  </li>
                </ul>
              </div>
              <div class="col-1">
                <div class="row-sm challenges-figure">
                  <div>
                    <object class="r45" data="../../../../assets/img/polygon.svg"></object>
                  </div>
                  <div>
                    <object data="../../../../assets/img/leafy_challenges_2.svg"></object>
                  </div>
                </div>
              </div>
            </div>
            <div class="row-sm">
              <div class="col-1">
                <ul>
                  <li class="regular">
                    <p>Indicating the dimension of each plant.</p>
                  </li>
                </ul>
              </div>
              <div class="col-1">
                <div class="row-sm challenges-figure">
                  <div>
                    <object class="r45" data="../../../../assets/img/polygon.svg"></object>
                  </div>
                  <div>
                    <object data="../../../../assets/img/leafy_challenges_3.svg"></object>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- 3 -->
        <div class="row-sm challenges">
          <div class="col-1">
            <p>Providing <span class="bold">instructions</span> on how to maintain a plant.</p>
          </div>
          <div class="col-2 column">
            <div class="row-sm">
              <div class="col-1">
                <ul>
                  <li class="regular">
                    <p>General info was shared as iconography.</p>
                  </li>
                </ul>
              </div>
              <div class="col-1">
                <div class="row-sm challenges-figure">
                  <div>
                    <object class="r45" data="../../../../assets/img/polygon.svg"></object>
                  </div>
                  <div>
                    <object data="../../../../assets/img/leafy_challenges_4.svg"></object>
                  </div>
                </div>
              </div>
            </div>
            <div class="row-sm">
              <div class="col-1">
                <ul>
                  <li class="regular">
                    <p>Detailed info was showed as a video .</p>
                  </li>
                </ul>
              </div>
              <div class="col-1">
                <div class="row-sm challenges-figure">
                  <div>
                    <object class="r45" data="../../../../assets/img/polygon.svg"></object>
                  </div>
                  <div>
                    <object data="../../../../assets/img/leafy_challenges_5.svg"></object>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 4 -->
        <div class="row-sm challenges">
          <div class="col-1">
            <p>Trusting the <span class="bold">health</span> of the plants shown.</p>
          </div>
          <div class="col-2 column">
            <div class="row-sm">
              <div class="col-1">
                <ul>
                  <li class="regular">
                    <p>Provided guarantee on the health of the plant .</p>
                  </li>
                </ul>
              </div>
              <div class="col-1">
                <div class="row-sm challenges-figure">
                  <div>
                    <object class="r45" data="../../../../assets/img/polygon.svg"></object>
                  </div>
                  <div>
                    <object data="../../../../assets/img/leafy_challenges_6.svg"></object>
                  </div>
                </div>
              </div>
            </div>
            <div class="row-sm">
              <div class="col-1">
                <ul>
                  <li class="regular">
                    <p>showing user reviews about each plant.</p>
                  </li>
                </ul>
              </div>
              <div class="col-1">
                <div class="row-sm challenges-figure">
                  <div>
                    <object class="r45" data="../../../../assets/img/polygon.svg"></object>
                  </div>
                  <div>
                    <object data="../../../../assets/img/leafy_challenges_7.svg"></object>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 5 -->
        <div class="row-sm challenges">
          <div class="col-1">
            <p>Trusting the <span class="bold">packaging</span> and <span class="bold">safely delivering</span> the
              plants.</p>
          </div>
          <div class="col-2 column">
            <div class="row-sm">
              <div class="col-1">
                <ul>
                  <li class="regular">
                    <p>Showing all the process of preparation and packaging through gif.</p>
                  </li>
                </ul>
              </div>
              <div class="col-1">
                <div class="row-sm challenges-figure">
                  <div>
                    <object class="r45" data="../../../../assets/img/polygon.svg"></object>
                  </div>
                  <div>
                    <object data="../../../../assets/img/leafy_challenges_8.svg"></object>
                  </div>
                </div>
              </div>
            </div>
            <div class="row-sm">
              <div class="col-1">
                <ul>
                  <li class="regular">
                    <p>showing user testimonial reviews about the same.</p>
                  </li>
                </ul>
              </div>
              <div class="col-1">
                <div class="row-sm challenges-figure">
                  <div>
                    <object class="r45" data="../../../../assets/img/polygon.svg"></object>
                  </div>
                  <div>
                    <object data="../../../../assets/img/leafy_challenges_9.svg"></object>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 6 -->
        <div class="row-sm challenges">
          <div class="col-1">
            <p>Buying the <span class="bold">right pot</span> for each plant.</p>
          </div>
          <div class="col-2 column">
            <div class="row-sm">
              <div class="col-1">
                <ul>
                  <li class="regular">
                    <p>For each plant selected, a user can select suitable pots and see the result.</p>
                  </li>
                </ul>
              </div>
              <div class="col-1">
                <div class="row-sm challenges-figure">
                  <div>
                    <object class="r45" data="../../../../assets/img/polygon.svg"></object>
                  </div>
                  <div>
                    <object data="../../../../assets/img/leafy_challenges_10.svg"></object>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 7 -->
        <div class="row-sm challenges">
          <div class="col-1">
            <p>Being to <span class="bold">find the right plant</span> based on the user’s need; like a one to one
              consultation.</p>
          </div>
          <div class="col-2 column">
            <div class="row-sm">
              <div class="col-1">
                <div class="column fh">
                  <div class="col-1">
                    <ul>
                      <li class="regular">
                        <p>Plant Finder Task was designed which suggest a suitable plant by percentage.</p>
                      </li>
                    </ul>
                  </div>
                  <div class="col-1 end">
                    <ul>
                      <li class="regular">
                        <p>Using icons to present plant’s info within a glance</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-1">
                <div class="row-sm challenges-figure">
                  <div class="column space-between" style="padding: 24px 0;">
                    <object data="../../../../assets/img/polygon.svg"></object>
                    <object data="../../../../assets/img/polygon.svg"></object>
                  </div>
                  <div>
                    <object data="../../../../assets/img/leafy_challenges_12.svg"></object>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="project-ov-para">
          <h3>User Flow</h3>
          <p>User flow was developed accordingly:</p>
        </div>
      </div>
      <div class="pt16">
        <object class="fw" data="../../../../assets/img/leafy_user_flow.svg"></object>
      </div>

      <div class="container column pb40 pt90-lg">
        <div class="project-ov-para">
          <h3>Plant Finder Task</h3>
          <p>Creating a similar experience to shopping plants in person; as how one can consult with the sales person on
            getting the right plant based on his/her situation; we designed the Plant Finder.
            Using this platform, based on the data collected from a user through a series of questions, the perfect
            match is proposed. </p>
        </div>

        <div class="scroll-screen-demo pt90-lg" appScrollTracker>
          <div class="scroll-screen-overlay">
            <h2>Scroll to See the Demo</h2>
          </div>
          <object data="../../../../assets/img/leafy_palnt_finder_demo.svg"></object>
        </div>
        <caption>Plant Finder Questions</caption>
      </div>

      <div class="container pt90-lg">
        <div class="project-ov-para">
          <h3>Site Map</h3>
          <p>Based on the card sorting, the first version of the information architecture was made.</p>
          <p>However through out the design process, user testing and the competitive analysis, the final version of the
            information architecture was build. </p>
        </div>
      </div>
      <div class="pt16">
        <object class="fw" data="../../../../assets/img/leafy_site_map.svg"></object>
        <caption>Site Map Diagram</caption>
      </div>
    </div>
  </article>

  <article #develop>
    <div class="header">
      <h1>Develop</h1>
    </div>
    <div class="body pb40">
      <div class="container pt90-lg pb40">
        <div class="project-ov-para">
          <h3>Sketch and Wire Framing </h3>
          <p>We have done some Mid-Fidelity sketches in order to map out page layouts design vision for both desktop and
            mobile version.The wire-frames went through a couple of rounds of iteration before the final content was
            developed. </p>
        </div>
      </div>
      <div class="pt16">
        <div class="row gap50">
          <div class="col-1">
            <object class="fw pt16" data="../../../../assets/img/leafy_mid_fi_desktop.svg"></object>
            <caption>Mid-Fi - Desktop</caption>
          </div>
          <div class="col-1">
            <object class="fw pt16" data="../../../../assets/img/leafy_mid_fi_mobile_phone.svg"></object>
            <caption>Mid-Fi - Mobile Phone</caption>
          </div>
        </div>
      </div>
      <div class="container pt90-lg pb40">
        <div class="project-ov-para">
          <h3>Design system</h3>
          <div class="row gap50">
            <p>We have done some Mid-Fidelity sketches in order to map out page layouts design vision for both desktop
              and
              mobile version.The wire-frames went through a couple of rounds of iteration before the final content was
              developed. </p>
            <object class="fw pt16" data="../../../../assets/img/leafy_design_system.svg"></object>
          </div>
        </div>
      </div>
      <div class="pt16">
        <object class="fw pt16" data="../../../../assets/img/leafy_mood_board.svg"></object>
        <caption>Mood board & Color palate</caption>
      </div>
      <div class="pt16">
        <object class="fw pt16" data="../../../../assets/img/leafy_ui_kit.svg"></object>
        <caption>User Interface kit</caption>
      </div>
      <div class="container column pt90-lg pb40">
        <div class="project-ov-para">
          <h3>Usability Test</h3>
          <p>We tested the task of buying a plant with a pot with 6 people. Through Usability testing when the task was
            given, we observed that the users did not notice the information that we had placed in the scroll and they
            lost a lot of important data. As a result, we took out the data from the scrollable frame so that all the
            necessary information can be seen with just one scroll.</p>
        </div>
      </div>

      <div class="container column">
        <div class="row fw gap50">
          <div class="col-1">
            <object class="fw pt16" data="../../../../assets/img/leafy_quiz_card.svg"></object>
          </div>
          <div class="col-1">
            <object class="fw pt16" data="../../../../assets/img/leafy_quiz.svg"></object>
          </div>
        </div>
      </div>

      <div class="container pt90-lg pb40">
        <div class="project-ov-para">
          <h3>A/B testing</h3>
          <div class="row gap50">
            <div class="column">
              <p>This A/B test was run among 8 participants. We evaluated the user satisfaction and functionality of two
                different designs for a plant search questionnaire.</p>
              <p>The results showed that (Sample A) was preferred the most among participants in terms of functionality
                and appearance compared to (Sample B). Hence we proceeded accordingly. </p>
            </div>
            <object class="fw" data="../../../../assets/img/leafy_ab_testing.svg"></object>
          </div>
        </div>
      </div>
    </div>
  </article>

  <article #deliver>
    <div class="header">
      <h1>Deliver</h1>
    </div>
    <div class="body">
      <div class="container column pt90-lg pb40">
        <div class="project-ov-para">
          <h3>Design Iteration</h3>
          <p>Home page layout and design went through several iterations until the latest version agreed. </p>
        </div>
      </div>

      <div class="pt16">
        <object class="fw pt16" data="../../../../assets/img/leafy_design_iteration.svg"></object>
      </div>

      <div class="container pt90-lg pb40">
        <div class="project-ov-para">
          <h3>Design base on WCAG</h3>
          <div class="row gap50">
            <p>Considering the users with various visual disability, we tried to design accordingly.
              Below are the screenshots considering the “Color Blinds”. </p>
            <img class="fw" src="../../../../assets/img/leafy_WCAG.png" alt="">
          </div>
        </div>
      </div>

      <div class="container pt90-lg">
        <div class="project-ov-para">
          <h3>Final Design</h3>
          <p>Even though Design process is always evolving based on how human behavior and needs change over time, this
            is the point we agreed to call it “Done”. </p>
        </div>
      </div>

      <div class="container">
        <div class="column prototype-btn-container">
          <button class="prototype-btn">
            <mat-icon>laptop</mat-icon>
            <span>View Desktop Prototype</span>
          </button>
          <button class="prototype-btn">
            <mat-icon>phone_android</mat-icon>
            <span>View Mobile Prototype</span>
          </button>
        </div>
      </div>

      <div class="container pt90-lg">
        <div class="project-ov-para">
          <h3>What did I learn?</h3>
          <ul>
            <li>
              <p>Making a good balance of users' needs and stakeholders' marketing strategy in mind while designing.</p>
            </li>
            <li>
              <p>Effective communication with team members and lead challenging situations.</p>
            </li>
            <li>
              <p>How to design a website from complete scratch.</p>
            </li>
            <li>
              <p>My first student project exposed me to the importance of understanding users' needs at every stage of
                the design process. The best way to gain this overview is by keeping track of all research findings and
                referring to them continually.</p>
            </li>
            <li>
              <p>It was interesting to discover that I enjoyed interaction design the most, and I'll continue to develop
                this skill in the next projects.</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="container pt90-lg">
        <div class="project-ov-para">
          <h3>What can we do next?</h3>
          <p>We are planning to add a section where a user can see the selected plant in a specific part of his/her
            space, as well as some interior design tips. The need for the same was initiated in the early stages of the
            project when we were interviewing with our potential users.
            However because of the nature of this project, we were to focus on one task mainly.
            Hence this will be the second phase of the project. </p>
        </div>
      </div>
    </div>
  </article>
</div>

<app-go-to-top #gotop></app-go-to-top>