<div class="banner">
  <div class="container column">
    <h1 class="heading primary-text light-text">LEAFY</h1>
    <p class="primary-text">House Plant Online Shop Adaptive Website</p>
    <img class="mockup" src="../../../../assets/img/leafy_laptop_and_smartphone_mockup.png"
      alt="leafy_laptop_and_smartphone_mockup">
  </div>
</div>

<div class="main-content container column">
  <article #projectOverview>
    <div class="header">
      <h1>Project Overview</h1>
    </div>
    <div class="body">
      <div class="row pt90-lg pb40 gap130-lg">
        <div class="col-1">
          <p class="pb8">Designing a website for a local greenhouse was one of the student assignment we had in
            UX-Land
            school.
            In a team of four, we were assigned to design an <span class="bold">adaptive website</span> for both
            <span class="bold">mobile</span> and <span class="bold">desktop devices</span>
            focusing on <span class="bold">User Interface</span> aspect.
          </p>
          <br>
          <p>
            We defined <span class="bold">Leafy</span> as an online store, in which using <span class="bold">Plant
              Finder</span> can suggest the right plant based on the
            users’ need.
          </p>
          <br>
          <p>
            As this is a <span class="bold">school concept project</span>, we defined a <span class="bold">hypothetical
              stakeholder</span> at the beginning and consider
            his requirements and limitations throughout the process.
          </p>
        </div>
        <div class="col-1">
          <img class="img-resp-400" src="../../../../assets/img/leafy-mockup-temp.png" alt="">
        </div>
      </div>
      <div class="column">
        <button class="prototype-btn">
          <mat-icon>laptop</mat-icon>
          <span>View Desktop Prototype</span>
        </button>
        <button class="prototype-btn">
          <mat-icon>phone_android</mat-icon>
          <span>View Mobile Prototype</span>
        </button>
      </div>
      <div class="container column pt90-lg pb40">
        <div class="row gap50 col-1">
          <div class="project-ov-item">
            <object data="../../../../assets/img/leafy_duration.svg" width="55"></object>
            <h4>Duration</h4>
            <p>4 Weeks</p>
          </div>
          <div class="project-ov-item">
            <object data="../../../../assets/img/leafy_team.svg" type=""></object>
            <h4>Team</h4>
            <p>Group of 4</p>
          </div>
          <div class="project-ov-item">
            <object data="../../../../assets/img/leafy_role.svg" type=""></object>
            <h4>Role</h4>
            <p>UX/UI Designer</p>
          </div>
          <div class="project-ov-item">
            <object data="../../../../assets/img/leafy_tools.svg" type=""></object>
            <h4>Tools</h4>
            <p>Figma, Photoshop, Zoom, Google Form</p>
          </div>
        </div>
        <div class="column pt90 pb40  gap50">
          <div class="project-ov-para">
            <h3>Target User</h3>
            <p>The website is designed to serve both <span class="bold">plant experts</span> and those who are <span
                class="bold">not experienced.</span></p>
          </div>

          <div class="project-ov-para">
            <h3>Challenges</h3>
            <p>The challenge was to showcase the plants as a living beings rather than objects in a market place. </p>
            <p>Showing <span class="bold">real images</span> indicating the actual <span class="bold">size/scale</span>
              of
              the plant, <span class="bold">instructions</span> on how to maintain the same
              and being able to <span class="bold">find the right plant</span> based on the user’s need. </p>
            <p>
              By analyzing the information we obtained through surveys and interviews, we realized the problem most
              users
              have when buying plants online, is <span class="bold">lack of information to choose</span>, <span
                class="bold">maintain</span> or <span class="bold">to keep the plant healthy</span>.</p>
          </div>
          <div class="project-ov-para">
            <h3>Our Approach </h3>
            <ul>
              <li>
                <p><span class="bold">Providing sufficient information</span> for each plant on how to maintain one.</p>
              </li>
              <li>
                <p><span class="bold">Personalize guide</span> to ease purchasing of a plant based on the user’s need.
                </p>
              </li>
              <li>
                <p>Ensuring plant good health condition by <span class="bold">showing reviews</span> and testimonials of
                  previous users.</p>
              </li>
              <li>
                <p>Showing <span class="bold">process of preparation</span>, <span class="bold">packaging </span>and
                  <span class="bold">delivery</span> of plants.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </article>

  <article #DesignProcess>
    <div class="header">
      <h1>Design Process </h1>
    </div>
    <div class="body">

    </div>
  </article>

  <article #discover>
    <div class="header">
      <h1>Discover</h1>
    </div>
    <div class="body">

    </div>
  </article>

  <article #define>
    <div class="header">
      <h1>Define</h1>
    </div>
    <div class="body">

    </div>
  </article>

  <article #develop>
    <div class="header">
      <h1>Develop</h1>
    </div>
    <div class="body">

    </div>
  </article>

  <article #deliver>
    <div class="header">
      <h1>Deliver</h1>
    </div>
    <div class="body">

    </div>
  </article>
</div>