@import "variables";

:host {
  width: 100%;
  display: flex;
  background: url(../../../assets/img/footer.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  height: max-content;
  position: relative;
  margin-top: 10px;
}

.contact {
  position: absolute;
  bottom: 20%;
  display: flex;
  gap: 50px;
  align-items: center;
  place-content: center;
  width: 100%;
  z-index: 999;
}

.index {
  width: 100%;
  opacity: 0;
}

//XS
@media screen and (max-width: $sm-screen) {
  .contact {
    object {
      width: 40px;
    }
  }
}
