<div class="container">
  <div class="project-item">
    <div class="project-image">
      <img class="primary-banner" src="../../../assets/img/leafy_homepage.png" alt="">
      <div class="secondary-banner column">
        <img src="../../../assets/img/leafy_homepage_2.png" alt="">
        <img src="../../../assets/img/leafy_homepage_2.png" alt="">
        <img src="../../../assets/img/leafy_homepage_2.png" alt="">
        <img src="../../../assets/img/leafy_homepage_2.png" alt="">
        <img src="../../../assets/img/leafy_homepage_2.png" alt="">
        <img src="../../../assets/img/leafy_homepage_2.png" alt="">
      </div>
    </div>
    <div class="project-overview">
      <section>
        <div class="ov-container">
          <h1>LEAFY</h1>
          <p>House Plant Online Shop Adaptive Website
          </p>
          <a class="visit" [routerLink]="['leafy']">
            <mat-icon>keyboard_arrow_right</mat-icon>
            <span>Read Full Case Study</span>
          </a>
        </div>
      </section>

    </div>
  </div>
</div>