@import "variables";
:host {
  flex-grow: 1;
  padding-top: 115px;
}

.g60 {
  gap: 60px;
}

// //XS
@media screen and (max-width: $sm-screen) {
  .primary-banner {
    left: 30% !important;
    top: 20% !important;
  }

  .secondary-banner {
    left: 60%;
  }
}

@keyframes visit {
  from {
    transform: translate(175px);
  }
  to {
    transform: translate(185px);
  }
}
