<div class="container">
  <div class="project-item">
    <div class="project-image">
      <img src="../../../assets/img/leafy_homepage.png" alt="">
      <img src="../../../assets/img/leafy_homepage_2.png" alt="">
    </div>
    <div class="project-overview">
      <section>
        <div class="ov-container">
          <h1>LEAFY</h1>
          <p>House Plant Online Shop Adaptive Website
          </p>
          <a class="visit" [routerLink]="['leafy']">Visit Leafy</a>
        </div>
      </section>

    </div>
  </div>
</div>