<!-- <app-header-image></app-header-image> -->
<div class="container intro column">
  <div class="row fw col-1 content-center g100-45">
    <div class="image-section fh">
      <object class="avatar" data="../../../assets/img/cool_kids_avatar.svg" type=""></object>
    </div>
    <div class="intro-section fh">
      <div class="intro-para">
        <h2>Hi! <br> I'm <span class="blue-text">Sajedeh</span>.</h2>
        <p>I’m a User Experience Designer.</p>
      </div>
    </div>
  </div>
  <div class="scroll-down" (click)="scrollToBottom()">
    <a>Explore my projects <mat-icon class="bouncing">keyboard_arrow_down</mat-icon></a>
  </div>
</div>

<div id="projectSection" #projectSection>
  <app-projects [relativePath]="true"></app-projects>
</div>

<app-footer></app-footer>