<!-- <app-header-image></app-header-image> -->

<div class="container">
  <div class="main row fh g100-45">
    <div class="image-section fh">
      <div class="image"></div>
    </div>
    <div class="para-section fh">
      <h1 class="center-sm typing-heading">Hi, I'm <span class="accent-text">Sajedeh</span></h1>
      <p class="center-tex-sm">I am a <span class="bold">Product Designer</span> with a Bachelor's degree in Robotics
        Engineering. My education
        has given me a <span class="bold">problem-solving mindset</span> and an <span class="bold">eagerness</span> to
        create designs that <span class="bold">make a difference</span> in people's
        lives. With five years of experience teaching electronics and programming to children, I have honed my ability
        to <span class="bold">effectively communicate</span> complex ideas in a way that is <span class="bold">easy to
          understand</span>.</p>
      <p class="center-tex-sm">In addition to my technical background, I have broadened my perspective through studies
        in <span class="bold">AI</span> and <span class="bold">motion graphics</span>, giving me a diverse understanding
        of design and the ability to deliver innovative
        solutions to any project. My passion for both design and technology drives me to bring my dedication and
        creativity to every project I work on, and I am confident in my ability to make a positive impact.</p>
      <p class="center-tex-sm">When I don't have my designer hat on, you can catch me learning German, discovering new
        cities, and mostly playing board games with my family and friends which fuels my dream of someday designing my
        own.</p>
    </div>
  </div>
</div>
