/* You can add global styles to this file, and also import other style files */
@import "variables";

html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

ul li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

.column {
  display: flex;
  flex-direction: column !important;
}

.col-1 {
  flex-grow: 1;
  flex-shrink: 1;
}

.col-2 {
  flex: 2 0 auto;
}

.fh {
  height: 100%;
}

.g16 {
  gap: 16px;
}

.pt16 {
  padding-top: 16px;
}

.row {
  display: flex;
  flex-direction: row;
}

p {
  line-height: 160%;
}

.container {
  display: flex;
  margin: 0 auto;
  padding-right: 16px;
  padding-left: 16px;
}

.fw {
  width: 100%;
}

.hr-center {
  place-content: center;
}

.primary-text {
  color: #003060;
}

.accent-text {
  color: #055c9d;
}

.pull-right {
  justify-content: end;
}

.space-between {
  justify-content: space-between;
}

.content-center {
  display: flex;
  place-content: center;
  align-items: center;
}

.bold {
  font-weight: bold;
}
.light-text {
  font-weight: 100;
}

//LG
@media screen and (min-width: $lg-screen) {
  .container {
    width: 60%;
    .container {
      width: 80%;
    }
  }
}

//MD
@media screen and (min-width: $md-screen) and (max-width: $lg-screen) {
  .container {
    width: 80%;
  }
}

//SM
@media screen and (min-width: $sm-screen) and (max-width: $md-screen) {
  .container {
    width: 80%;
  }
}

//XS
@media screen and (max-width: $sm-screen) {
  .container {
    width: 90%;
  }

  .row {
    flex-direction: column;
  }

  .center-tex-sm {
    text-align: center;
  }
  .center-sm {
    margin: 0 auto;
  }
}
