<div class="banner">
  <div class="container column">
    <h1 class="heading primary-text light-text">Indexturant</h1>
    <!-- <p class="primary-text">House Plant Online Shop Adaptive Website</p> -->
    <!-- <img class="mockup" src="../../../../assets/img/indexturant/indexturant-banner.png"
      alt="leafy_laptop_and_smartphone_mockup"> -->
  </div>
</div>

<div class="main-content container column">
  <article #projectOverview>
    <div class="header">
      <h1>Project Overview</h1>
    </div>
    <div class="body">
      <div class="container column">
        <div class="row pt90-lg pb40 gap130-lg">
          <div class="col-1">
            <p class="pb8">
              Engaged in a <span class="bold">dynamic collaboration </span>with Indextaurant, our team led the design of
              an
              <span class="bold">e-commerce </span>platform tailored to cater to the diverse needs of both individual
              coffee enthusiasts and industry professionals, including baristas and coffee shop owners.
            </p>
            <br>
            <p class="pb8">This<span class="bold"> comprehensive online store</span> offers all coffee-related
              essentials
              and accessories, providing a one-stop-shop experience for users across different categories.It also has
              various other services such as equipment rentals, maintenance of the equipment, and resale of refurbished
              industrial coffee shop equipment. </p>
            <br>
            <p class="pb8">Our <span class="bold">UX/UI</span> design aims to build a user-friendly digital space,
              enhancing the experience for both coffee enthusiasts and industry professionals.
            </p>
          </div>
          <!-- <div class="col-1 mockup-section">
          <img class="screen img-resp-400" src="../../../../assets/img/leafy_mockup_screen.png" alt="">
          <div class="frame">
            <img src="../../../../assets/img/leafy_demo.gif" alt="">
          </div>
        </div> -->
        </div>
        <div class="column prototype-btn-container">
          <a target="_blank"
            href="https://www.figma.com/proto/djJ0zRM5qygeTE74SEPWDx/Leafy?page-id=0%3A1&node-id=340-1371&viewport=-876%2C296%2C0.13&scaling=min-zoom&starting-point-node-id=340%3A1371"
            class="prototype-btn">
            <mat-icon>laptop</mat-icon>
            <span>View Desktop Prototype</span>
          </a>
        </div>
      </div>
      <div class="column pt90-lg pb40">
        <div class="row project-ov-container col-1">
          <div class="project-ov-item col-1">
            <object data="../../../../assets/img/indexturant/role-icon.svg" type=""></object>
            <h4>Role</h4>
            <p>UX/UI Designer</p>
          </div>
          <div class="project-ov-item col-1">
            <object data="../../../../assets/img/indexturant/team-icon.svg" type=""></object>
            <h4>Team</h4>
            <p>Group of 4</p>
          </div>
          <div class="project-ov-item col-1">
            <object data="../../../../assets/img/indexturant/duration-icon.svg" width=""></object>
            <h4>Duration</h4>
            <p>12 Weeks, part time</p>
          </div>
          <div class="project-ov-item col-1">
            <object data="../../../../assets/img/indexturant/tool-icon.svg" type=""></object>
            <h4>Tools</h4>
            <p>Figma, Photoshop, Midjourney</p>
          </div>
        </div>
      </div>
    </div>
  </article>


  <article #DesignProcess>
    <div class="header">
      <h1>Design Process </h1>
    </div>
    <div class="body">
      <div class="column pt40 pb40">
        <div class="row project-ov-container col-1">
          <div class="project-ov-item col-1">
            <object data="../../../../assets/img/indexturant/discover.svg" type=""></object>
            <h4>Discover</h4>
            <p>Generate and gather information</p>
          </div>
          <div class="project-ov-item col-1">
            <object data="../../../../assets/img/indexturant/Ideation.svg" type=""></object>
            <h4>Ideation</h4>
            <p>Sketch and arrange the main elements </p>
          </div>
          <div class="project-ov-item col-1">
            <object data="../../../../assets/img/indexturant/design.svg" width=""></object>
            <h4>Design</h4>
            <p>Develop of ideations designs</p>
          </div>
          <div class="project-ov-item col-1">
            <object data="../../../../assets/img/indexturant/test.svg" type=""></object>
            <h4>Test</h4>
            <p>Prototype and test with users</p>
          </div>
        </div>
      </div>
    </div>
  </article>

  <article #discover>
    <div class="header">
      <h1>Discover</h1>
    </div>
    <div class="body">
      <div class="column pt90-lg pb40">
        <div class="column container">
          <div class="project-ov-para">
            <h3>Understanding the core of the product:</h3>
            <p>Before doing any ideation we started to learn more about the business and their target by having regular
              meetings with business owner.</p>
          </div>
          <div class="project-ov-para">
            <h3>Business Needs:</h3>
            <p>Comprehensive Product Showcase: Present a diverse range of products, including coffee machines, coffee
              shop equipment, barista accessories, and representing Futura coffee machines in the UAE.</p>
            <p>Service Portfolio Highlight: Showcase additional services like refurbishment of industrial coffee shop
              equipment, equipment rentals for events, and the sale of coffee beans and tea.</p>
            <p>User Engagement and Contact Gathering: Encourage user interaction, exploration of services, and initially
              focus on collecting user contact details for future engagement.</p>
            <p>Adaptability in Design: Design a platform capable of evolving from a contact-oriented site to a fully
              functional e-commerce platform.</p>
          </div>
          <div class="project-ov-para">
            <h3>Target Users:</h3>
            <p>Based on the marketing research conducted by the BO, we were provided with specific target user
              categories, outlined below:</p>
            <ul style="padding-left: 50px;">
              <li>
                <p>Individual coffee lover (maybe Baristas)</p>
              </li>
              <li>
                <p>Coffee shop owner (with his/her barista) who buys for his coffee shop (new or used equipment</p>
              </li>
              <li>
                <p>Wholesale buyer (who buys used equipment)</p>
              </li>
              <li>
                <p>Event managers/or similar who rents equipment for specific event/short period of time</p>
              </li>
            </ul>
          </div>
          <div class="project-ov-para">
            <p>Using the insights gained from the given data as well as secondary research, we created provisional
              personas to quickly identify our potential users. These provisional personas helped set the criteria for
              our
              interview participants and would be validated through user interviews.</p>
          </div>
          <div class="project-ov-para">
            <h3>User Persona:</h3>
          </div>
        </div>
        <div class="row persona-section">
          <div class="col-1 persona column">
            <img src="../../../../assets/img/indexturant/karim.jpg" alt="">
            <div class="persona-info fw">
              <h3>Coffee Shop Owner</h3>
              <div class="column info-detail">
                <h5><span class="bold">Karim</span>|42 years old |Dubai</h5>
                <p>Karim Al-Fahim, a coffee enthusiast and owner of a coffee shop, blends hospitality with innovation to
                  create a memorable coffee experience.</p>
              </div>
              <h4>Needs</h4>
              <div class="detail">
                <ul>
                  <li>Reliable Coffee Machines</li>
                  <li>Consistent Supply of Coffee Beans</li>
                  <li>Competitive Pricing</li>
                  <li>Fast and Reliable Delivery</li>
                </ul>
              </div>
              <h4>Pain points</h4>
              <div class="detail">
                <ul>
                  <li>Time Constraints</li>
                  <li>International Shipping</li>
                </ul>
              </div>
              <h4>Preferences</h4>
              <div class="detail">
                <ul>
                  <li>Premium Quality Equipment</li>
                  <li>Specialized Coffee Beans</li>
                  <li>User-Friendly Interface</li>
                  <li>Customization Options</li>
                  <li>Efficient Ordering Process</li>
                </ul>
              </div>
              <h4>Expectation</h4>
              <div class="detail">
                <ul>
                  <li>Responsive Customer Support</li>
                  <li>Secure Payment Gateway</li>
                  <li>Clear Product Information</li>
                  <li>Loyalty Programs and Discounts</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-1 persona column">
            <img src="../../../../assets/img/indexturant/reem.jpg" alt="">
            <div class="persona-info fw">
              <h3>Coffee Enthusiast</h3>
              <div class="column info-detail">
                <h5><span class="bold"> Reem</span>|38 years old|Dubai</h5>
                <p>Reem Al-Mansoori, a coffee enthusiast, loves the art of brewing and enjoys experimenting with
                  third-generation coffee tools to create the perfect cup. </p>
              </div>
              <h4>Needs</h4>
              <div class="detail">
                <ul>
                  <li>Fresh Coffee Beans</li>
                  <li>Specialty Coffee Tools</li>
                  <li>Convenient Shopping</li>
                </ul>
              </div>
              <h4>Pain points</h4>
              <div class="detail">
                <ul>
                  <li>Limited Availability</li>
                  <li>Lack of Information</li>
                  <li>Shipping and Delivery</li>
                </ul>
              </div>
              <h4>Preferences</h4>
              <div class="detail">
                <ul>
                  <li>Specialty Coffee Machines</li>
                  <li>Unique Coffee Beans</li>
                  <li>Elegant Design</li>
                  <li>Ethical Sourcing</li>
                </ul>
              </div>
              <h4>Expectation</h4>
              <div class="detail">
                <ul>
                  <li>Comprehensive Product Descriptions</li>
                  <li>Engaging Content</li>
                  <li>Responsive Customer Support</li>
                  <li>Secure and Reliable Shopping Experience</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-1 persona column">
            <img src="../../../../assets/img/indexturant/johnsmith.jpg" alt="">
            <div class="persona-info fw">
              <h3>Coffee Enthusiast</h3>
              <div class="column info-detail">
                <h5><span class="bold"> John Smith</span>|45 years old|Dubai</h5>
                <p>John Smith, an event manager, plans a three-day event, aiming to offer premium coffee. He seeks
                  reliable solutions for smooth execution.</p>
              </div>
              <h4>Needs</h4>
              <div class="detail">
                <ul>
                  <li>Comprehensive Equipment Package</li>
                  <li>On-Site Support</li>
                  <li>High-Volume Capacity</li>
                  <li>Fresh Coffee Supplies</li>
                  <li>Punctuality</li>
                </ul>
              </div>
              <h4>Pain points</h4>
              <div class="detail">
                <ul>
                  <li>Limited Availability</li>
                  <li>Technical Issues</li>
                </ul>
              </div>
              <h4>Preferences</h4>
              <div class="detail">
                <ul>
                  <li>High-Quality Equipment</li>
                  <li>Experienced Baristas</li>
                  <li>Customization Options</li>
                  <li>Efficient Setup and Take-down</li>
                </ul>
              </div>
              <h4>Expectation</h4>
              <div class="detail">
                <ul>
                  <li>Professionalism</li>
                  <li>Seamless Service</li>
                  <li>High-Quality Coffee</li>
                  <li>Flexibility and Customization</li>
                  <li>Reliable Support</li>
                </ul>
              </div>
            </div>
          </div>
        </div>


        <div class="container pt90-lg survey">
          <div class="project-ov-para">
            <h3>Survey Insight</h3>
            <div class="row">
              <div class="col-1">
                <p>Now, it was time to validate these provisional personas through surveys and interviews with
                  Indexturant customers. the survey was designed to fit the behavior of each user category aiming to
                  identify:</p>
                <ul>
                  <li>
                    <p>1. Thought processes and patterns</p>
                  </li>
                  <li>
                    <p>2. Pain points</p>
                  </li>
                  <li>
                    <p>3. General online shopping experiences</p>
                  </li>
                  <li>
                    <p>4. Preferences</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class=" column pt90-lg">
          <div class="container project-ov-para">
            <h3>Survey takeaway</h3>
          </div>

          <div class="pt16 table-responsive">
            <table class="survey-table">
              <thead>
                <tr>
                  <th>Key Survey Findings (Out of 140 respondents)</th>
                  <th>What we did to fulfill this need </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div>
                      <h5>Purchase Preferences:</h5>
                      <ul>
                        <li>80% showed a preference for in-person purchases </li>
                        <li>74% expressed a desire to engage in discussions or consultations with professionals.</li>
                      </ul>
                    </div>
                  </td>
                  <td>
                    <div>
                      <ul>
                        <li>Locating "Contact Us" buttons strategically throughout the platform to build trust by
                          assuring users of responsive assistance.</li>
                        <li>Clearly displayed all the information user need for easy access and prevent unnecessary
                          calls.</li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div>
                      <h5>Concerns About Used Equipment:</h5>
                      <ul>
                        <li>A significant number emphasized the importance of a guarantee, influencing decisions
                          regarding used equipment purchases.</li>
                        <li>General service/checkup history was a crucial factor for those considering used equipment
                          or coffee machines.</li>
                      </ul>
                    </div>
                  </td>
                  <td>
                    <div>
                      <ul>
                        <li>Visually highlighted the guarantee duration, maintenance, and related services
                          strategically for clear visibility and user understanding.</li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div>
                      <h5>Rental Considerations:</h5>
                      <ul>
                        <li>For rentals, factors such as brand, model, and price were identified as crucial
                          decision-making elements.</li>
                      </ul>
                    </div>
                  </td>
                  <td>
                    <div>
                      <ul>
                        <li>Essential information were organized as FAQ section</li>
                        <li>A floating "Contact Us" button was provided </li>
                        <li>The "Request for Quote" section was provided as an option tailored to specific needs.
                        </li>
                        <li>Showcased past event images for a visual overview</li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="container column pt90-lg">
          <div class="project-ov-para">
            <h3>User interview</h3>
            <p>In order to better understand our users’ needs we conducted interview with a few of former customers of
              this business.
            </p>
            <h5>Some questions asked during the interview:</h5>
            <div class="pt40">
              <div class="container">
                <ol>
                  <li>If you have ever shopped coffee shop equipment online, tell us about your experience?</li>
                  <li>What factors are important to you in online coffee shop equipment shopping?</li>
                  <li>If you have ever shopped coffee shop equipment online, tell us about your experience?</li>
                </ol>
              </div>
            </div>
          </div>
        </div>

        <div class="column pt90-lg">
          <div class="container project-ov-para ">
            <h3>Affinity diagram</h3>
          </div>
          <div class="pt16">
            <object class="fw pt16" data="../../../../assets/img/indexturant/Affinity_1.svg"></object>
          </div>
        </div>

        <div class="column pt90-lg">
          <div class="container project-ov-para column">
            <h3>User Flow:</h3>
            <p>We tailored the journey based on potential user categories and their specific tasks on the website,
              aiming to create an intuitive, engaging, and efficient journey, ensuring a positive experience, and
              achieving the project goals.</p>
          </div>
          <div class="pt16">
            <object class="fw pt16" data="../../../../assets/img/indexturant/user_flow.svg"></object>
          </div>
        </div>

        <div class="column pt90-lg">
          <div class="container project-ov-para column">
            <h3>Sitemap:</h3>
            <p>Below site map shows the structured layout of the website, aligning with our design vision.</p>
          </div>
          <div class="pt16">
            <object class="fw pt16" data="../../../../assets/img/indexturant/site_map.svg"></object>
          </div>
        </div>
      </div>
    </div>
  </article>

  <article class="pb40" #ideation>
    <div class="header">
      <h1>Ideation</h1>
    </div>
    <div class="body">


      <div class="container pt90-lg pb40">
        <div class="project-ov-para">
          <h3>Design Brief:</h3>
          <p>To create a non-e-commerce website emphasizing on collection of user’s contact details as well as to lead
            them to directly contact the business for any purchase. </p>
          <div class="container pt16">
            <object class="fw pt16" data="../../../../assets/img/indexturant/success-measure.svg"></object>
          </div>
        </div>
      </div>

      <div class="column pt90-lg pb40 sketches">
        <div class="container project-ov-para column">
          <h3>Sketches:</h3>
          <p>Based on the design brief given and after conducting thorough research, we translated insights into a
            series of digital sketches, carefully considering the most suitable design directions. </p>
        </div>
        <div class="row">
          <div class="col-1">
            <div class=" ">
              <caption>home page</caption>
              <object class="fw pt16" data="../../../../assets/img/indexturant/home_2.svg"></object>
            </div>
          </div>
          <div class="col-1">
            <div class="column">
              <div class=" ">
                <caption>Products page</caption>
                <object class="fw pt16" data="../../../../assets/img/indexturant/used_machines.svg"></object>
              </div>
              <div class="pt40-lg">
                <caption>Coffee machine page</caption>
                <object class="fw pt16" data="../../../../assets/img/indexturant/renting_service-1.svg"></object>
              </div>
            </div>
          </div>
          <div class="col-1">
            <div class="column">
              <div class=" ">
                <caption>Service page</caption>
                <object class="fw pt16" data="../../../../assets/img/indexturant/services.svg"></object>
              </div>
              <div class="pt40-lg">
                <caption>Rent page</caption>
                <object class="fw pt16" data="../../../../assets/img/indexturant/renting_service.svg"></object>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="container pt90-lg pb40">
        <div class="project-ov-para">
          <h3>Usability:</h3>
          <div class="row">
            <div class="col-1">
              <object class="fw" data="../../../../assets/img/indexturant/usability.svg"></object>
            </div>
            <div class="col-2">
              <p>Testing our design with potential users exposed a lack of intuitiveness, leading to unfinished tasks
                and user frustration. Addressing this, we emphasized to the client the risk of user dissatisfaction,
                highlighting the need to build trust. Our push for a clearer approach secured approval for an e-commerce
                model. However, the client insisted on collecting user contacts, creating a delicate balance between
                smooth online shopping and data collection.</p>
            </div>
          </div>
        </div>
      </div>


      <div class="column pt90-lg pb40">
        <div class="project-ov-para container">
          <h3>Usability Test 1:</h3>
        </div>
        <object class="fw pt40" data="../../../../assets/img/indexturant/usability-test-1.svg"></object>
      </div>


      <div class="column pt90-lg pb40">
        <div class="project-ov-para container">
          <h3>Moodboard:</h3>
        </div>
        <img class="fw pt40" src="../../../../assets/img/indexturant/moodboard.jpg" alt="moodboard">
        <div class="container moodboard pt40">
          <table>
            <tr>
              <td class="moodcolor" style="background-color: #FCFBFA;">
              </td>
              <td>
                <p>Given that our primary focus revolves around coffee machines, be it sales of new or used machines for
                  industrial or domestic purposes, we drew inspiration from the clean lines, minimalism, and elegance
                  often associated with industrial design.</p>
              </td>
            </tr>
            <tr>
              <td class="moodcolor" style="background-color: #A01811;">
              </td>
              <td>
                <p>Our choice of red as one of the main colors reflects a gender-neutral palette, drawn directly from
                  the vibrant hue of coffee cherries. Red not only symbolizes warmth but also exudes an energetic vibe,
                  akin to the revitalizing effect of a freshly brewed cup of coffee.</p>
              </td>
            </tr>
            <tr>
              <td class="moodcolor" style="background-color: #E0DBD3;">
              </td>
              <td>
                <p>We incorporated the soothing beige, a shade reminiscent of 'coffee with milk.' This subtle and
                  comforting color complements the overall aesthetic, resonating with the familiarity and coziness of
                  enjoying a cup of coffee.</p>
              </td>
            </tr>
            <tr>
              <td class="moodcolor" style="background-color: #161615;">
              </td>
              <td>
                <p>In essence, our mood board encapsulates the essence of our business, blending industrial chic with
                  the inviting warmth of coffee culture.</p>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </article>

  <article #design>
    <div class="header">
      <h1>Design</h1>
    </div>
    <div class="body pb40">
      <div class="column pt90-lg pb40 container">
        <div class="project-ov-para ">
          <h3>UI Kit:</h3>
          <p>This is the style guide for .....</p>
        </div>
        <div class="design-item">
          <h2>Colors</h2>
          <object class="fw" data="../../../../assets/img/indexturant/colors.svg"></object>
        </div>
        <div class="design-item">
          <h2>Grid</h2>
          <object class="fw" data="../../../../assets/img/indexturant/grid.svg"></object>
        </div>
        <div class="design-item">
          <h2>Typography</h2>
          <object class="fw" data="../../../../assets/img/indexturant/typography.svg"></object>
        </div>
        <div class="design-item">
          <h2>Icons</h2>
          <object class="fw" data="../../../../assets/img/indexturant/icons.svg"></object>
        </div>
        <div class="design-item">
          <h2>CTAs</h2>
          <object class="fw" data="../../../../assets/img/indexturant/cats.svg"></object>
        </div>
        <div class="design-item">
          <h2>Cards</h2>
          <object class="fw" data="../../../../assets/img/indexturant/cards.svg"></object>
        </div>
        <div class="design-item m0">
          <h2>Interactions</h2>
          <div class="row">
            <div class="col-1  column hr-center">
              <object class="fw" data="../../../../assets/img/indexturant/interactions.svg"></object>
            </div>
            <div class="col-2 column hr-center">
              <p>
                This comment inspired our design for hover states, making them vibrant when users interact.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>

  <article #test>
    <div class="header">
      <h1>Test</h1>
    </div>
    <div class="body">
      <div class="column pt90-lg pb40">
        <div class="project-ov-para container column">
          <h3>A/B testing:</h3>
          <p>We conducted A/B testing to determine which card presented information more effectively.</p>
          <p>Card A outperformed by 48% in which we refined the hierarchy of information, adjusted white space, and
            optimized the placement of icons.</p>
        </div>
        <div class="pt16">
          <object class="fw pt16" data="../../../../assets/img/indexturant/abtesting.svg"></object>
        </div>
      </div>


      <div class="column pt90-lg pb40">
        <div class="project-ov-para container column">
          <h3>Iterations:</h3>
        </div>
        <div class="pt16">
          <object class="fw pt16" data="../../../../assets/img/indexturant/iterations.svg"></object>
        </div>
      </div>
    </div>
  </article>


  <article #test>
    <div class="header">
      <h1>Delivered Design pages</h1>
    </div>
    <div class="body pb40">

      <div class="column pt90-lg pb40 sketches">
        <div class="row">
          <div class="col-1">
            <div class="">
              <caption>home page</caption>
              <object class="fw pt16" data="../../../../assets/img/indexturant/dhomepage.svg"></object>
            </div>
          </div>
          <div class="col-1">
            <div class="column">
              <div class="">
                <caption>Products page</caption>
                <object class="fw pt16" data="../../../../assets/img/indexturant/dproducts_page.svg"></object>
              </div>
              <div class="pt40-lg row end">
                <div class="col-1">
                  <caption>Contact Us</caption>
                  <object class="fw pt16" data="../../../../assets/img/indexturant/dcontact_us.svg"></object>
                </div>
                <div class="col-1">
                  <caption>Register</caption>
                  <object class="fw pt16" data="../../../../assets/img/indexturant/dregister.svg"></object>
                </div>
              </div>
              <div class="pt40-lg">
                <caption>Service page</caption>
                <object class="fw pt16" data="../../../../assets/img/indexturant/dservices.svg"></object>
              </div>
            </div>
          </div>
          <div class="col-1">
            <div class="column">
              <div class="">
                <caption>Coffee machine page</caption>
                <object class="fw pt16" data="../../../../assets/img/indexturant/dproduct_page_rev_3.svg"></object>
              </div>
              <div class="pt40-lg">
                <caption>Rent page</caption>
                <object class="fw pt16" data="../../../../assets/img/indexturant/drent.svg"></object>
              </div>
              <div class="pt40-lg">
                <caption>Espresso Set-up page</caption>
                <object class="fw pt16" data="../../../../assets/img/indexturant/despresso.svg"></object>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <caption>home page</caption>
          <div class="row">
            <div class="col-1">
              <object class="fw pt16" data="../../../../assets/img/indexturant/CheckoutPage1.svg"></object>
            </div>
            <div class="col-1">
              <object class="fw pt16" data="../../../../assets/img/indexturant/CheckoutPage2.svg"></object>
            </div>
            <div class="col-1">
              <object class="fw pt16" data="../../../../assets/img/indexturant/CheckoutPage3.svg"></object>
            </div>
          </div>
          <div class="row end">
            <div class="col-1">
              <object class="fw pt16" data="../../../../assets/img/indexturant/CheckoutPage4.svg"></object>
            </div>
            <div class="col-1">
              <object class="fw pt16" data="../../../../assets/img/indexturant/CheckoutPage5.svg"></object>
            </div>
            <div class="col-1">
            </div>
          </div>
          <caption>home page</caption>
          <div class="row">
            <div class="col-1">
              <object class="fw pt16" data="../../../../assets/img/indexturant/derror_page.svg"></object>
            </div>
            <div class="col-1"></div>
            <div class="col-1"></div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="prototype-btn-container">
          <a target="_blank"
            href="https://www.figma.com/proto/djJ0zRM5qygeTE74SEPWDx/Leafy?page-id=0%3A1&node-id=340-1371&viewport=-876%2C296%2C0.13&scaling=min-zoom&starting-point-node-id=340%3A1371"
            class="prototype-btn">
            <mat-icon>laptop</mat-icon>
            <span>View Desktop Prototype</span>
          </a>
          <p>You can check out the website from link below: <br>
            <a href="www.siteaddress.ae">www.siteaddress.ae</a>
          </p>
        </div>

      </div>


    </div>
  </article>

  <article #reflections>
    <div class="header">
      <h1>Reflections</h1>
    </div>
    <div class="body pb40">
      <div class="project-ov-para container column pb40">
        <h3>What did I learn?</h3>
        <ul>
          <li>
            <p>Making a good balance between users' needs and stakeholders' marketing strategy in mind while designing
            </p>
          </li>
          <li>
            <p>Effective communication with team members and lead challenging situations</p>
          </li>
          <li>
            <p>Maintain regular meetings with developers to stay on the same page</p>
          </li>
        </ul>
      </div>
      <div class="project-ov-para container column pb40">
        <h3>What Can we do next?</h3>
        <p>We can develop filters for coffee beans further and create a task flow to assist users in discovering the
          ideal type of coffee that suits both their coffee machine and personal taste preferences.</p>
      </div>
    </div>
  </article>

  <footer>
    <div class="footer-body container">
      <div class="project-ov-para column">
        <h4>See more of my work:</h4>
        <div class="row project-ref">
          <a routerLink="/project/leafy" class="col-1">
            <div class="project-item row-sm">
              <div class="project-image-container">
                <img src="../../../../assets/img/tablet_laptop_and_smartphone_mockup_small.png" alt="leafy">
              </div>
              <div class="project-spec">
                <h4>Leafy</h4>
              </div>
            </div>
          </a>
          <a routerLink="/coming-soon" class="col-1">
            <div class="project-item row-sm">
              <div class="project-image-container">
                <img src="../../../../assets/img/pr_the_clove_club.png" alt="high_five">
              </div>
              <div class="project-spec">
                <h4>The Clove Club</h4>
              </div>
            </div>
          </a>
        </div>
        <div class="contact">
          <a href="https://www.linkedin.com/in/sajedeh-nasiri" target="_blank">
            <span>
              <object class="obj-link" data="../../../../assets/img/linkedin.svg"></object>
            </span>
          </a>
          <a href="mailto:sajedeh.n219@gmail.com">
            <span>
              <object class="obj-link" data="../../../../assets/img/mail.svg" type=""></object>
            </span>
          </a>
        </div>
      </div>
    </div>

  </footer>
</div>



<app-go-to-top #gotop></app-go-to-top>