@import "variables";

:host {
  display: flex;
  height: 45px;
  padding: 35px 0;
  width: 100%;
  background-color: #e4eef7;
  color: #003060;
  flex-shrink: 0;
  position: sticky;
  top: 0;
}

.navbar {
  place-content: space-between;
}

h4 {
  display: flex;
  align-items: center;
}

.nav-toggle {
  color: #003060;
  cursor: pointer;
  display: none;
}

.sidenav {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  background: #e4eef7;
  .action-bar {
    display: flex;
    height: 45px;
    padding: 13px 0;
    width: 100%;
    color: #003060;
  }
}

@keyframes slide-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

//LG
@media screen and (min-width: $lg-screen) {
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }

  .active {
    border-bottom: 2px solid #003060;
  }
}

//MD
@media screen and (min-width: $md-screen) and (max-width: $lg-screen) {
  :host {
    padding: 20px 0;
  }
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }

  .active {
    border-bottom: 2px solid #003060;
  }
}

//SM
@media screen and (min-width: $sm-screen) and (max-width: $md-screen) {
  :host {
    padding: 20px 0;
  }
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }

  .active {
    border-bottom: 2px solid #003060;
  }
}

//XS
@media screen and (max-width: $sm-screen) {
  :host {
    padding: 20px 0;
  }

  .navbar ul {
    display: none;
  }

  .nav-toggle {
    display: block;
  }

  ul li {
    padding: 10px 0;
    &.active a {
      border-left: 2px solid #003060;
    }
    & a {
      display: block;
      padding: 5px;
    }
  }
}
