<div class="container navbar">
  <h4>Sajedeh Nasiri</h4>
  <button class="nav-toggle" (click)="hasSideNav = true">
    <mat-icon>menu</mat-icon>
  </button>
  <ul>
    <li><a routerLink="project" routerLinkActive="active">Project</a></li>
    <li><a routerLink="about-me" routerLinkActive="active">About Me</a></li>
    <li><a routerLink="resume" routerLinkActive="active">Resume</a></li>
  </ul>
</div>

<div class="sidenav" [@slideIn]="hasSideNav">
  <div class="action-bar">
    <div class="container space-between">
      <h4>Sajedeh Nasiri</h4>
      <button class="nav-toggle" (click)="hasSideNav = false">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="navlist">
    <div class="container">
      <ul>
        <li routerLinkActive="active"><a routerLink="project" (click)="hasSideNav = false">Project</a></li>
        <li routerLinkActive="active"><a routerLink="about-me" (click)="hasSideNav = false">About Me</a></li>
        <li routerLinkActive="active"><a routerLink="resume" (click)="hasSideNav = false">Resume</a></li>
      </ul>
    </div>
  </div>
</div>